*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

.nav {
    display: flex;
    align-items:center;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
    padding: 20px 70px;
}

.nav-logo{
    margin-right: 15px;
    fill: red;
    width: 60px;
}

.nav-header{
    margin-right: auto;
    font-weight: 100px;
}

.nav-items {
    list-style: none;
    display: flex;

}

#add-product-btn{
    color: white;
    text-align: center;
    transition-duration: 0.08s;
    cursor: pointer;
    padding: 10px;
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    background-color: rgba(0, 0, 222, 0.6);;
    color: white;
    border: 2px solid rgba(0, 0, 222, 0.6);
    border-radius: 5px;
}
    #add-product-btn:hover {
        background-color: rgba(0, 0, 222, 0.8);
        box-shadow: 0 6px rgba(0, 0, 222, 0.4);
    }
    #add-product-btn:active {
        background-color: rgba(0, 0, 222, 1);
        box-shadow: 0 3px rgba(0, 0, 222, 0.8);
        transform: translateY(4px);
    }

#delete-product-btn{
    color: white;
    text-align: center;
    transition-duration: 0.08s;
    cursor: pointer;
    padding: 10px;
    margin-right: 45px;
    font-family: 'Inter', sans-serif;
    background-color: rgba(222, 0, 0, 0.6);
    color: white;
    border: 2px solid rgba(222, 0, 0, 0.6);
    border-radius: 5px;   
}
    #delete-product-btn:hover {
        background-color: rgba(222, 0, 0, 0.8);
        box-shadow: 0 6px rgba(222, 0, 0, 0.4);
    }
    #delete-product-btn:active {
        background-color: rgba(222, 0, 0, 1);
        box-shadow: 0 3px rgba(222, 0, 0, 0.8);
        transform: translateY(4px);
    }
    #delete-product-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    gap: 60px;
    margin: auto;
    padding: 60px 20px;
    width: 90vw;
    height: auto;
}

    @media screen and (max-width: 1000px) {
        main {
            grid-template-columns: repeat(3,1fr);
        }
    }

    @media screen and (max-width: 700px) {
        main {
            grid-template-columns: repeat(2,1fr);
        }
    }

.product{
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    padding: 30px 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    transition-duration: 0.25s;
}

.product > h3{
   text-align: center;
   font-weight: normal;
   margin-bottom: 2px;
}
    .product:hover{
        border: 3px solid rgba(0, 0, 0, 0.8);
        box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.25);
    }

.delete-checkbox{
    transform: scale(1.5);
    border-radius: 5px;
    cursor: pointer;
}

.errorImage{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding: 60px 30px;
}

.errorText{
    text-align: center;
}

#product_form{
    padding: 60px 70px;
}

label{
    display: inline-block;
    width: 110px;
}

input, select{
    margin-bottom: 20px;
    height: 30px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

select{
    text-align: center;
    width: 185px;
    text-indent: 0px;
}

.div-typeswitcher{
    padding: 0px 30px;
}

footer{
    padding: 10px;
    background-color: #C0C0C0;
    text-align: center;
    bottom:0;
    position: fixed;
    width: 100vw;
}